In [6]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

In [10]:
from pycoingecko import CoinGeckoAPI
cg = CoinGeckoAPI()

In [15]:
bitcoin_data = cg.get_coin_market_chart_by_id (id = "bitcoin", vs_currency = "usd", days = 2)

In [104]:
bitcoin_data["prices"]

[[1682391631041, 27383.663132243717],
 [1682395266278, 27372.385841659652],
 [1682398849844, 27411.553789335987],
 [1682402509119, 27442.376711640118],
 [1682406064309, 27401.61839408216],
 [1682409707666, 27286.461797523487],
 [1682413305870, 27323.735169214182],
 [1682416913755, 27325.63780854558],
 [1682420453897, 27342.899192880897],
 [1682424022075, 27381.15193627067],
 [1682427655337, 27376.739889090284],
 [1682431249042, 27339.719607992924],
 [1682434817724, 27275.587743884887],
 [1682438431691, 27346.48669340079],
 [1682442045326, 27385.658439889994],
 [1682445615569, 27446.727590809125],
 [1682449226739, 27646.02023449623],
 [1682452809227, 27646.365606623785],
 [1682456498196, 28006.453437248976],
 [1682460032252, 28263.523620165666],
 [1682463638787, 28258.04092081205],
 [1682467273122, 28351.218248373007],
 [1682470812410, 28369.303308214945],
 [1682474469900, 28345.514289822426],
 [1682478040021, 28367.328885965442],
 [1682481672610, 28338.41143005038],
 [1682485261776, 28348.14862861835],
 [1682488855786, 28384.289597147195],
 [1682492443129, 28380.972595328985],
 [1682496067638, 28349.742816277914],
 [1682499675558, 28753.188236058297],
 [1682503212566, 28869.232115040788],
 [1682506867107, 29010.922475951553],
 [1682510463999, 28969.84603265537],
 [1682514047758, 29848.89802711087],
 [1682517635365, 29837.684524249315],
 [1682521201120, 29672.992700041676],
 [1682524903452, 29813.783576006026],
 [1682528467788, 29794.322659290916],
 [1682532038064, 29777.229110814416],
 [1682535670497, 29742.40482895269],
 [1682539215338, 28071.527904561095],
 [1682542834372, 28166.648429522516],
 [1682546447611, 28234.42762220234],
 [1682550072881, 28422.480539205288],
 [1682553653322, 28352.19132059668],
 [1682557235779, 29269.303485119195],
 [1682560898953, 28734.395523081934],
 [1682562916000, 29071.272392108134]]

In [106]:
import pandas as pd
data = pd.DataFrame(bitcoin_data, columns = ["TimeStamp", "prices",])
data

   TimeStamp                               prices
0        NaN  [1682391631041, 27383.663132243717]
1        NaN  [1682395266278, 27372.385841659652]
2        NaN  [1682398849844, 27411.553789335987]
3        NaN  [1682402509119, 27442.376711640118]
4        NaN   [1682406064309, 27401.61839408216]
5        NaN  [1682409707666, 27286.461797523487]
6        NaN  [1682413305870, 27323.735169214182]
7        NaN   [1682416913755, 27325.63780854558]
8        NaN  [1682420453897, 27342.899192880897]
9        NaN   [1682424022075, 27381.15193627067]
10       NaN  [1682427655337, 27376.739889090284]
11       NaN  [1682431249042, 27339.719607992924]
12       NaN  [1682434817724, 27275.587743884887]
13       NaN   [1682438431691, 27346.48669340079]
14       NaN  [1682442045326, 27385.658439889994]
15       NaN  [1682445615569, 27446.727590809125]
16       NaN   [1682449226739, 27646.02023449623]
17       NaN  [1682452809227, 27646.365606623785]
18       NaN  [1682456498196, 28006.453437248976]
19       NaN  [1682460032252, 28263.523620165666]
20       NaN   [1682463638787, 28258.04092081205]
21       NaN  [1682467273122, 28351.218248373007]
22       NaN  [1682470812410, 28369.303308214945]
23       NaN  [1682474469900, 28345.514289822426]
24       NaN  [1682478040021, 28367.328885965442]
25       NaN   [1682481672610, 28338.41143005038]
26       NaN   [1682485261776, 28348.14862861835]
27       NaN  [1682488855786, 28384.289597147195]
28       NaN  [1682492443129, 28380.972595328985]
29       NaN  [1682496067638, 28349.742816277914]
30       NaN  [1682499675558, 28753.188236058297]
31       NaN  [1682503212566, 28869.232115040788]
32       NaN  [1682506867107, 29010.922475951553]
33       NaN   [1682510463999, 28969.84603265537]
34       NaN   [1682514047758, 29848.89802711087]
35       NaN  [1682517635365, 29837.684524249315]
36       NaN  [1682521201120, 29672.992700041676]
37       NaN  [1682524903452, 29813.783576006026]
38       NaN  [1682528467788, 29794.322659290916]
39       NaN  [1682532038064, 29777.229110814416]
40       NaN   [1682535670497, 29742.40482895269]
41       NaN  [1682539215338, 28071.527904561095]
42       NaN  [1682542834372, 28166.648429522516]
43       NaN   [1682546447611, 28234.42762220234]
44       NaN  [1682550072881, 28422.480539205288]
45       NaN   [1682553653322, 28352.19132059668]
46       NaN  [1682557235779, 29269.303485119195]
47       NaN  [1682560898953, 28734.395523081934]
48       NaN  [1682562916000, 29071.272392108134]

In [66]:
import numpy as np
A = np.array(data)
A
print("The number of elements in this list are:")
A.size

The number of elements in this list are:

98

In [74]:
print("The number of dimension in this list are:")
A.ndim

The number of dimension in this list are:

2

In [86]:
Arr_list = np.array(data)
for x in Arr_list:
    print(x)

[nan list([1682391631041, 27383.663132243717]) NaT]
[nan list([1682395266278, 27372.385841659652]) NaT]
[nan list([1682398849844, 27411.553789335987]) NaT]
[nan list([1682402509119, 27442.376711640118]) NaT]
[nan list([1682406064309, 27401.61839408216]) NaT]
[nan list([1682409707666, 27286.461797523487]) NaT]
[nan list([1682413305870, 27323.735169214182]) NaT]
[nan list([1682416913755, 27325.63780854558]) NaT]
[nan list([1682420453897, 27342.899192880897]) NaT]
[nan list([1682424022075, 27381.15193627067]) NaT]
[nan list([1682427655337, 27376.739889090284]) NaT]
[nan list([1682431249042, 27339.719607992924]) NaT]
[nan list([1682434817724, 27275.587743884887]) NaT]
[nan list([1682438431691, 27346.48669340079]) NaT]
[nan list([1682442045326, 27385.658439889994]) NaT]
[nan list([1682445615569, 27446.727590809125]) NaT]
[nan list([1682449226739, 27646.02023449623]) NaT]
[nan list([1682452809227, 27646.365606623785]) NaT]
[nan list([1682456498196, 28006.453437248976]) NaT]
[nan list([1682460032252, 28263.523620165666]) NaT]
[nan list([1682463638787, 28258.04092081205]) NaT]
[nan list([1682467273122, 28351.218248373007]) NaT]
[nan list([1682470812410, 28369.303308214945]) NaT]
[nan list([1682474469900, 28345.514289822426]) NaT]
[nan list([1682478040021, 28367.328885965442]) NaT]
[nan list([1682481672610, 28338.41143005038]) NaT]
[nan list([1682485261776, 28348.14862861835]) NaT]
[nan list([1682488855786, 28384.289597147195]) NaT]
[nan list([1682492443129, 28380.972595328985]) NaT]
[nan list([1682496067638, 28349.742816277914]) NaT]
[nan list([1682499675558, 28753.188236058297]) NaT]
[nan list([1682503212566, 28869.232115040788]) NaT]
[nan list([1682506867107, 29010.922475951553]) NaT]
[nan list([1682510463999, 28969.84603265537]) NaT]
[nan list([1682514047758, 29848.89802711087]) NaT]
[nan list([1682517635365, 29837.684524249315]) NaT]
[nan list([1682521201120, 29672.992700041676]) NaT]
[nan list([1682524903452, 29813.783576006026]) NaT]
[nan list([1682528467788, 29794.322659290916]) NaT]
[nan list([1682532038064, 29777.229110814416]) NaT]
[nan list([1682535670497, 29742.40482895269]) NaT]
[nan list([1682539215338, 28071.527904561095]) NaT]
[nan list([1682542834372, 28166.648429522516]) NaT]
[nan list([1682546447611, 28234.42762220234]) NaT]
[nan list([1682550072881, 28422.480539205288]) NaT]
[nan list([1682553653322, 28352.19132059668]) NaT]
[nan list([1682557235779, 29269.303485119195]) NaT]
[nan list([1682560898953, 28734.395523081934]) NaT]
[nan list([1682562916000, 29071.272392108134]) NaT]